<p>

  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>
  What Ever is On this Page will be Printed.Using Css we can hide some areas<br>

</p>


<button (click)='printFunc()'> Click Here To Download </button>